# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/workspace/out/build/x64-Debug
/cuda_learn
/cpp_learn/sams_21_days
/.vs
/cpp_studio_win/.vs
/cpp_studio_win/out/build/x64-Debug
.vscode/launch.json
.vscode/launch.json
.vscode/settings.json
.vscode/tasks.json
.vscode/launch.json
workspace/src/main
